.main{
    display: flex;
    flex-direction: column;
    gap:2rem;
    align-items:space-around;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Figtree', sans-serif;
    gap:1rem;
    width: 90%;
}
.input label{
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.01em;
}
.input input{
    background-color: #FFFFFF;
    border:1px solid #F2F2F2;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    padding: 10px 20px;
    width: 90%;
    font-weight: 400;
}
.footer{
    width: 90%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.footer button{
    font-family: 'Figtree', sans-serif;
    width: 60px;
    height: 40px;
    font-weight: 600;
    letter-spacing: 0.06em;
    border: none;
    padding: 0 10px;
    border-radius: 10px;
    color: #FFFFFF;
    background-color:#3E84F8;
}