@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:30rem;
    font-family: 'Montserrat', sans-serif;
    color: black;
    height:2.5rem;
    box-sizing: border-box;
}
.header p{
    align-self: center;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.04em;
}
.header .content{
    display: flex;
    flex-direction: row;
    gap:1rem;
    justify-content: space-evenly;
    align-self: center;
}
.content .input{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input input{
    font-size:1.125rem;
    border: none;
    outline: none;
    padding: 0 1rem;
    font-weight: 200;
    border-radius: 1rem;
}
.input button{
    background-color: transparent;
    border: none;
    outline: none;
}
.content .icon{
    font-size: 1.25rem;
    color: rgba(133, 133, 133, 1);
    transition: 0.3s;
}
.content .icon:hover{
    font-size: 1.25rem;
    transform: scale(1.2);
    color:rgb(88, 88, 88) ;
}
.content .noti{
    align-self: center;
    font-size: 1.5rem;
}
.content img{
    width: 1.5rem;
    height: 1.5rem;
}
@media (max-width:1300px){
    .header{
      gap:20rem;
    }
}